.edit-deck {

  h2 {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: @spacing__l 0 @spacing__ms;

    &.white {
      font-size: 20px;
      margin: 32px 0 16px;
      color: @white;
    }

    .counter {
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: fade(@white, 50%);
      align-self: center;
    }
    
    .visibility {
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: @sunset;
      align-self: center;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: @light-grey;
    margin-top: @spacing__m;
  }

  textarea {
    resize: vertical;
  }

  #deck_name {
    font-size: 18px;
  }

  .edit-card {
    background-color: fade(@black, 15%);
    padding: 1px 8px @spacing__m;
    border-radius: 3px;
  }

  .deck-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: @spacing__l;

    .nav-group {
      width: 100%;
      justify-content: space-between;
      display: flex;
    }
    
    .play-deck {
      display: inline-flex;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
  
      margin-bottom: @spacing__xl;
  
      a {
        display: inline-flex;
        border-radius: 50%;
        background-color: @sun;
        padding: 30px;
        transition: all 300ms cubic-bezier(0, 0, 0, 1.55);
  
  
        &:hover {
          transform: scale(1.1);
        }
  
      }
  
      span {
        color: @white;
        font-weight: 700;
        margin-top: 8px;
      }
    }
  }

  .save-status {
    position: sticky;
    bottom: 0;
    padding: @spacing__base 0;
    background-color: fade(@night-sky, 70%);
    backdrop-filter: blur(@spacing__xl);

    p {
      margin: 0;
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    button {

      &.card, &.add-card {
        font-size: 10px;
        color: @light-grey;
        text-align: left;
        padding: 2px 4px 16px;
        margin-right: 8px;
        margin-bottom: 8px;
        background-color: fade(@black, 15%);
        border-radius: 3px;
      }

      &.card::after {
        content: "";
        background-color: @light-grey;
        width: 21px;
        height: 29px;
        display: block;
        margin: 2px 12px 0;
        border-radius: 3px;
      }

      &.card.selected {
        background-color: fade(@black, 33%);

        &:focus, &:hover {
          background-color: fade(@black, 50%);
        }
      }

      &.add-card {
        padding: 16px;
        margin-right: 0;
      }

      
      &:focus, &:hover {
        background-color: fade(@black, 40%);
      }
    }
  }

  button.delete-card {
    padding: 12px;
    background-color: @sunset;
    margin: 16px 0 0 auto;
    display: flex;
    border-radius: 6px;

    &:focus, &:hover {
      background-color: #b12d3c;
    }
  }


}