.play-game {
  min-height: 100%;
  
  .legend {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
  }
  
  button {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: @black;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px;
    
    &:hover {
      background-color: fade(@black, 40%);
      color: @white;
      cursor: pointer;
    }
  }
  
  .card-container {
    position: relative;
    height: 50vh;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    
    .card {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: fade(@black, 23%);
      padding: @spacing__l;
      border-radius: @spacing__m;
      transition: all 777ms cubic-bezier(0.3,1.22,.5,1);
      
      .song {
        width: auto;
        margin-bottom: @spacing__l;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
        .icon {
          img {
            margin-right: 15px;
          }
        }
        
        .song-container {
          display: flex;
          flex-direction: column;
          
          .song-artist, .song-title {
            font-size: 16px;
            line-height: @line-height__s;
            flex: 0 0 100%;
          }
          
          .song-artist {
            color: @normal-grey;
          }
          
          .song-title {
            color: @white;
          }
        }
      }
      
      hr {
        margin: 0;
        height: 2px;
        background-color: @night-sky;
        border-radius: 1px;
      }
      
      .container-spacer {
        margin: @spacing__xl 0 @spacing__xxl;
      }
      
      .container-spacer:last-of-type {
        margin-top: 0;
      }
      
      
      #you-sing, #they-sing {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
        text-align: center;
      }
      
      #you-sing {
        color: @sun;
      }
      
      #they-sing {
        color: @white;
      }
      
      .number-of-cards {
        text-align: center;
        color: fade(@white, 50%);
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  
  
  .information p {
    text-align: center;
    font-size: 16px;
    color: #C7C7C7;
    margin-top: 30px;
  }
  

  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: @spacing__m;

    .icon-cards {
      background-color: #C7C7C7;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      display: flex;
      text-align: center;
      vertical-align: middle;
      align-items: center;

      
      img {
        margin: 0 auto;
      }
      
      &.left {

        &.colored {
          background-color: @sun;
          cursor: pointer;

          &:hover {
            background-color: mix(@pale-glow, @sun);
          }
        }
        
        img {
          transform: rotate(180deg);
        }
      }

      &.right {
        background-color: @sun;
        cursor: pointer;

        &:hover {
          background-color: mix(@pale-glow, @sun);
        }
      }
    }

  }

}