@import "variables";
@import "reset";
@import "normalize";

html, body {
  height: 100%;
}

body {
  background-color: @night-sky;
  font-family: @font-family__base;
  color: @normal-grey;

  // General
  p, ul, ol {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1em;
  }

  a {
    color: @white;
  }

  h1 {
    color: @sun;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
  }

  h2 {
    color: @sunset;
    font-size: 20px;
    font-weight: @font-weight__bold;
    margin: @spacing__xxl 0 @spacing__m;
  }

  h5 {
    font-weight: 600;
    font-size: 12px;
    
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: fade(@white, 50%);
    margin: 0 0 @spacing__base 0;
  }
  
  // App styling
  #app {
    max-width: @app-width;
    margin: 0 auto;
    
    main {
      padding: @spacing__xxl*2 @spacing__m @spacing__m;
    }
    
    // Home
    
    .home {
      padding: 0;

      section {
        padding: 0 @spacing__m;
      }

      .logo {
        margin: @indent__s auto;
        display: flex;
      }
  
      h1 {
        color: @white;
        font-weight: @font-weight__semi-bold;
        font-size: @font-size__l;
        line-height: 24px;
        text-align: center;
        max-width: 65%;
        margin: 0 auto;
      }

      .close {
        display: none;
      }
    }

    // Header
    header {
      position: fixed;
      padding: @spacing__base;
      top: 0px;
      left: 0px;
      width: 100%;

      display: flex;
      align-items: center;

      background: fade(@night-sky, 70%);
      backdrop-filter: blur(@spacing__xl);
      
      a {
        color: @pale-glow;
        font-size: @font-size__ms;
        font-weight: 700;
        text-decoration: none;
        padding: @spacing__s @spacing__ms;
        cursor: pointer;
        border-radius: 3px;
        width: 33.3%;
        
        &:hover {
          color: @white;
        }
        
        &.left {
          text-align: left;
        }
        
        &.logo {
          padding: 0;
          display: flex;
          justify-content: center;
        }
        
        &.right {
          text-align: right;
        }
      }
      
    }

    // Games group
    .games-group {
      
      ul {
        margin: 0;
        padding: 0;
        
        li {
          margin: 0;
          list-style-type: none;
          display: flex;
          align-items: center;
          align-content: stretch;
          
          
          a {
            display: flex;
            align-items: center;
            flex-grow: 1;
            padding: 16px;
            margin: 0 0 @spacing__base;
            border-radius: 6px;
            background-color: fade(@black, 15%);
            
            &:hover.add-deck, :active.add-deck {
              background-color: fade(@black, 10%);
            }

            &.add-deck {
              background-color: fade(@black, 3%);
              border: 2px solid fade(@black, 15%);
            }

            .game-icon, .add-deck {
              margin-right: @spacing__ms;
              flex-shrink: 0;
            }

            &:hover, :active {
              background-color: fade(@black, 20%);

              .icon-arrow {
                opacity: 1;
              }
            }
            
            .icon-arrow {
              flex-shrink: 0;
              opacity: .5;
            }
            
            .game-info {
              flex-grow: 1;
              margin-right: @spacing__ms;
            }

            .title {
              display: inline-block;
              width: 100%;
              font-size: @font-size__m;
              font-weight: 700;
              color: @white;
            }
            
            .subtitle {
              display: inline-block;
              width: 100%;
              font-size: @font-size__ms;
              color: fade(@white, 50%);
            }

            &.deck-edit {
              margin-left: @spacing__xs;
              place-self: normal;

              flex-grow: 0;

              font-size: @font-size__xs;
              font-weight: bold;
              letter-spacing: 1.2px;
              text-transform: uppercase;
              text-decoration: none;
            }
          }

        }
      }
    }

    main:not(.home) #game-list {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: fade(@black, 20%);
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;
      transition: all .3s ease;
      
      .game-list {
        position: relative;
        display: flex;
        flex-flow: column;
        top: 0;
        left: -100%;
        width: 87%;
        padding: @spacing__l;
        background-color: @night-sky;
        transition: all .3s ease;
        min-height: 100%;

        .close {
          position: fixed;
          display: flex;
          background-color: fade(@white, 10%);
          backdrop-filter: blur(@spacing__l);
          border-radius: 50%;
          padding: @spacing__ms;
          margin: -@spacing__ms -@spacing__ms 0 0;
          width: 37px;
          height: 37px;
          align-self: flex-end;
          cursor: pointer;
        }
      }
      
      &.show {
        opacity: 1;
        pointer-events: auto;

        .game-list {
          left: 0;
        }
      }

      .close {
        background: fade(@night-sky, 70%);
        backdrop-filter: blur(@spacing__xl);
      }
    }

    #how-to-play {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: fade(@black, 20%);
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;
      transition: all .3s ease;
      display: flex;
      justify-content: center;
      
      .how-to-play {
        position: absolute;
        display: flex;
        flex-flow: column;
        bottom: -87%;
        height: 87%;
        padding: @spacing__m;
        background-color: @night-sky;
        transition: all .3s ease;
        border-radius: @spacing__m @spacing__m 0 0;
        max-width: @app-width;

        h2 {
          color: @white;
          margin: 0;
        }

        h5 {
          margin-top: @spacing__l;
        }

        .close {
          position: fixed;
          display: flex;
          background-color: fade(@white, 10%);
          backdrop-filter: blur(@spacing__l);
          border-radius: 50%;
          padding: @spacing__ms;
          width: 37px;
          height: 37px;
          align-self: flex-end;
          cursor: pointer;
        }
      }
      
      &.show {
        opacity: 1;
        pointer-events: auto;

        .how-to-play {
          bottom: 0;
        }
      }

      .close {
        background: fade(@night-sky, 70%);
        backdrop-filter: blur(@spacing__xl);
      }
    }
    
  }
}
